.home {
    display: flex;
}

.itemContainer {
    display: flex;
    width: 78%;
    padding:20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters {
    background-color: #343a40;
    color : white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}

.filterButton {
    margin-left: auto; 
    margin-right: 0;
}

.filters > span {
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}

.pokeSubtitle {
    padding : 8px;
}

.addButton {
    padding : 8px;
    justify-content: space-around;
}

.removeButton {
    size: 50px;
    padding : 8px;
    justify-content: space-around;
}

.pokemonCards{
    width: 30%;
    margin: 10px;
}