.home {
    display: flex;
}

.itemContainer {
    display: flex;
    width: 78%;
    padding:20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters {
    background-color:rgba(43, 139, 181, 0.937);
    color : white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px;
    height: 85vh;
    border-radius:20px 20px 20px 20px;
}

.filterButton {
    margin-left: auto; 
    margin-right: 0;
}

.filters > span {
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
}

.pokeSubtitle {
    padding : 8px;
}

.cardButton {
    margin-left: 20px; 
    margin-bottom: 20px;
    margin-right: auto;
    padding : 8px;
    justify-content: space-around;
}

.pokemonCards{
    width: 30%;
    margin: 10px;
}

.pokeHeaderIcon{
    margin-left: 50;
}

.pokeHead{
    background-color:rgba(43, 139, 181, 0.937);
}

.dropDownButton{
    background-color: darkgoldenrod;
}

.deckItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 0px;
    flex-direction: column;
}

.deckItemImg{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.deckItemDetail{
 display: flex;
 flex: 1;
 padding: 0 20px;
 flex-direction: column;
}

.dropdown-menu { background-color: black; }

.wtf {
    color: white;
    font-size: 50;
}